<div class="container">
  <h2 class="mt-5">Add New User</h2>
  <%= form_with model: @user, local: true do |form| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :designation %>
      <%= form.text_field :designation, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :department %>
      <%= form.select :department, @departments.collect { |d| [d.name, d.name] }, { prompt: 'Select Department' }, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :role %>
      <%= form.select :role, User.roles.keys.map { |role| [role.titleize, role] }, {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= form.submit "Save", class: "btn btn-primary mt-3" %>
  <% end %>
</div>
